body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.box {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 10px;
}

button {
    background: #0088ff;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #006fe0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #aaa;
    padding: 6px;
    text-align: center;
}

.removeBtn {
    background: red;
    color: white;
    padding: 5px;
    cursor: pointer;
}
